In [5]:
#1 write a code to create a string with your name and print it.

name = input("My name is: ")

My name is: anmol kumar tanwar

In [7]:
#2 write a code to create a string with your name and print it.

string = "hello world"
length = len(string)

In [9]:
#3 write a code to slice the first 3 character from the string "python programming".
text = "python programming"
first_three = text[:3]
print("The first three characters are:", first_three)

The first three characters are: pyt

In [12]:
#4 write a code to convert the string "hello" to upper case.
text = "hello"
upper_text = text.upper()
print("Uppercase:", upper_text)

Uppercase: HELLO

In [15]:
#5 write a code to replace the word apple with orange in the string i like apple
text2 = "I like apple"
new_text = text2.replace("apple", "orange")
print("Updated text2:", new_text)

Updated text2: I like orange

In [17]:
#6 write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

In [28]:
#7 write a code to append the the number 10 in the list
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 5, 10]

In [29]:
#8
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5, 10]

In [30]:
#9
letters = ['a', 'b', 'c', 'd']
letters[1]

'b'

In [31]:
#10
numbers_2 = [10, 20, 30, 40, 50]
numbers_2.reverse()
print("Reversed list:", numbers_2)

Reversed list: [50, 40, 30, 20, 10]

In [32]:
#11
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [33]:
#12 tpl_colors = ('red', 'green', 'blue', 'yellow')
second_to_last = tpl_colors[-2]
print("Second to last element:", second_to_last)

Second to last element: blue

In [35]:
#13
numbers2 = (10, 20, 5, 15)
min_number = min(numbers2)
print("The minimum number is:", min_number)

The minimum number is: 5

In [36]:
#14
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print("The index of 'cat' is:", index_cat)

The index of 'cat' is: 1

In [37]:
#15
fruits = ('apple', 'banana', 'orange')
is_kiwi_present = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

In [38]:
#16
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'b', 'a', 'c'}

In [41]:
#17
numbers4 = {1, 2, 3, 4, 5}
numbers4.clear()
print(numbers4)

set()

In [42]:
#18
numbers5 = {1, 2, 3, 4,}
numbers5.remove(4)
print(numbers5)

{1, 2, 3}

In [44]:
#19
s1 = {1, 2, 3}
s2 = {4, 5, 6}
union_set = s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [48]:
#20
s3 = {1, 2, 3}
s4 = {2, 3, 4}
intersection_set = s3.intersection(s4)
print(intersection_set)

{2, 3}

In [49]:
#21
person = {
    "name": "Anmol",
    "age": 30,
    "city": "delhi"
}
print(person)

{'name': 'Anmol', 'age': 30, 'city': 'delhi'}

In [50]:
#22
person = {'name': 'john', 'age': 30}
person['country'] = 'usa'
print(person)

{'name': 'john', 'age': 30, 'country': 'usa'}

In [51]:
#23
person = {"name": "alice", "age": 30}
name_value = person["name"]
print("Value associated with 'name':", name_value)

Value associated with 'name': alice

In [52]:
#24
person6 = {"name": "bob", "age": 22, "city": "newyork"}
person6.pop("age")
print("Dictionary after removing 'age':", person6)

Dictionary after removing 'age': {'name': 'bob', 'city': 'newyork'}

In [53]:
#25
person = {"name": "alice", "city": "paris"}
key_exists = "city" in person
print("Does the key 'city' exist?", key_exists)

Does the key 'city' exist? True

In [54]:
#26
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Alice', 'age': 25}

In [55]:
#27
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [21, 68, 79, 85, 91]

In [59]:
#28
my_list_a = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list_a[3])

Element at index 3: date

In [60]:
#29
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}
combined_dict = dict1 | dict2
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [61]:
#30
my_list5 = ["apple", "banana", "apple", "cherry", "banana"]
my_set = set(my_list5)
print("Set:", my_set)

Set: {'banana', 'cherry', 'apple'}

1.	what are the data structure and why are they important?

Ans-In python programming data structures are ways of organizing and storing data so that it can be used efficiently. Python has several built-in data structures, including lists, tuples, dictionaries, and sets.

2.	Explain the difference between mutable and immutable data types with example.

Ans – In python mutable data types are those whose values can be changed after they are created, while immutable data types are those whose values cannot be changed after they are created.
Ex- For example if there is a list I have created
students = ["Riddhi","Narendra","Rownak","Yamini","Umesh"] and  I am adding another student into the list that is called mutable on the other hand if I have assigned a value to a variable like My_name = “ANMOL” and I try to change the first character of this string it will cause error.

3.	what are the main differences between lists and tuples in python?

Ans- Lists and tuples are both fundamental sequence types in Python, serving as containers for ordered collections of items. However, there are many key differences in mutability, syntax, and typical use cases-
Lists are mutable and tuples are not mutable, lists are defined with square brackets and tuples are defined using parentheses.

5.	why might you use a set instead of a list in python?

Ans- Sets and lists serve different purposes in Python, making sets more suitable in some scenarios like sets don not allow duplicates so if you want to to maintain a unique collection of item so the sets are ideal and also checking for the available item in the set easier and faster than list using only “in” operator
Also sets are unordered so if order of elements is not important than sets are more efficient.

6.	what is a string in python and how is it different from a list?

Ans- A string is a sequence of characters between single or double quotes and A list is a sequence of items, where each item could be anything (an integer, a float, a string.

4.	describe how dictionaries store data?

Ans- Dictionaries are unordered collections of data and are represented with curly brackets { } .dictionaries are mutable. With dictionaries, data is stored in a key:value format.
Ex- d1 = {"stud_id":"12345","Name":"Kishore","email":"kishore@abc.com", "stud_id":"12323"}

7.	how do tuples ensure data integrity in python?

Ans- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifespan.

8.	what is a hash table and how does it relate to dictionaries in python ?
Ans- A hash table is a data structure that stores key-value pairs, using a hash function to compute an index for each key, which determines the position (or "bucket") in the table where the value is stored and dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine the index in the underlying hash table where the value will be stored.

9.	can list contain different data types in python ?
Ans- In Python lists can contain elements of different data types. This is one of the features that makes Python lists very flexible. A single list can hold integers, strings, floats, booleans, and even other lists or data structures like dictionaries and tuples.

10.	explain why strings are immutable in python ?
ans- Strings in python are immutable because of design choices that prioritize efficiency. When a string is created, Python allocates memory for it. If strings were mutable, modifying a string might require reallocating memory, which is a time-consuming operation and also dictionaries in Python require their keys to be hashable, and hashable objects must be immutable.

11.	what advantages do dictionaries offer over lists for certain tasks?
Ans-The data collected is stored as key-value pairs in the dictionary, a standard Python data structure. The word "dictionary" is enclosed in curly brackets (), spaced by commas and also dictionaries are ordered sets dictionaries can be accessed by the index number of the element elements can be removed and inserted into dictionaries it’s quicker and easier to find a specific element in a dictionary

12.	describe a scenario where using a tuple would be preferable over a list ?
Ans- Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifespan so if the data stored requires this so using tuple is preferable.

13.	how do sets handle duplicate values in python?
Ans- Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, Python automatically ignores it, ensuring that the set maintains its uniqueness property.
For Ex- s1 = {"kishore","Raghav","Parikh","Anjum","kishore"} in the second time Kishore will be ignored

14.	how does the in keyword work differently for lists and dictionaries?
Ans- For list the ‘in’ keyword checks whether a value exists as an element in the list and for dictionary the ‘in’ keyword checks whether a key exists in the dictionary not the value.

15.	can you modify the elements of a tuple explain why or why not?
Ans Although you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined but still changes need to be made than convert that tuple into list and and make the necessary changes and again change it to a tuple.

16.	what is a nested dictionary and give an example of its use case ?
Ans- A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels.
students = {"12345":{"name":"Kishore","email":"kishore@abc.com","marks":{"Maths":80,"Science":90}},"12346":{"name":"Umesh","email":"umesh@abc.com","marks":{"Maths":95,"Science":85}}}

17.	describe the time complexity of accessing elements in a dictionary?
Ans- Accessing elements in a Python dictionary (using a key like my dict[key]) is very efficient due to its underlying implementation using a hash table. Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size.

18.	in what situations are lists preferred over dictionaries?
Ans- lists are preferred when given order of data is required and also when index based access is required lists are preferred . In some situation it is required to have duplicate value which dictionary does not allow to have.

19.	why are dictionaries considered unordered and how does that affect data retrieval?
Ans- Dictionary are un ordered means elements are not stored or retrieved based on the order they were added Instead, elements are stored according to the hash value of the key, which determines their internal position in a hash table. you cannot access items by position, means retrieval is only possible through keys, not index or order.

20.	Explain the difference between a list and a dictionary in terms of data retrieval?
Ans- In Python, lists and dictionaries are both used to store collections of data, but they differ fundamentally in how data is accessed (retrieved). These differences are rooted in their structure and purpose. A list retrieves items based on their numeric position in a sequence a dictionary retrieves items using unique keys associated with each value.
Ex-  for list- to List[position] and in dictionary- Dictionary_name[‘name’]